body {
  padding-bottom: 40px;
  background-color: #eee;
}

.empty-table {
  text-align: center;
}

.header-row {
    text-align: center;
    padding-bottom: 20px;
}

.player-avatar {
  max-height: 24px;
  max-width: 24px;
}
